<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="dataReader" class="com.vasiliska.students.dao.DataReader">
        <constructor-arg value="quizTest.csv"/>
    </bean>

    <bean id="student" class="com.vasiliska.students.dao.Student">

    </bean>

    <bean id="quizRunner" class="com.vasiliska.students.engine.QuizRunner">
        <constructor-arg ref="dataReader"/>
        </bean>

  


</beans>
